/* Archivo: About.module.css */

.aboutSection {
  background-color: #121212;
  padding: 6rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.contentWrapper {
  max-width: 1000px;
  text-align: center;
}

.heading {
  font-size: 2.8rem;
  color: #00ffc3;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.paragraph {
  font-size: 1.2rem;
  color: #d0d0d0;
  line-height: 1.8;
  margin-bottom: 1.5rem;
}
