fastapi
uvicorn
requests
python-multipart
httpx
python-dotenv  # Para gestionar variables de entorno
csgo
steam
redis  # Conexión a Redis
itsdangerous  # Middleware de sesión en Starlette
fastapi-users[redis]  # Manejo de usuarios con autenticación en Redis
pydantic  # Validación de datos
asyncio  # Soporte para procesos asíncronos
